// ===== BTN STYLE ===== //
%btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.5em 1.5rem;
  border: solid 2px #fff;
  border-radius: 0.6rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.btn-home {
  @extend %btn;
  transition: $ease-in-out;

  &:hover,
  &:focus {
    background-color: #ed1c24;
    color: #fff;
    border: solid 2px #ed1c24;
  }
}

.btn-submit {
  @extend %btn;
  background-color: $red;
  border: solid 2px $red;
  color: set-text-color(#000);
  width: 100%;

  // MEDIA QUERY
  @include tablet {
    width: unset;
  }
}
