@import './config';

// ===== GENERAL STYLE ====== //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray;
  color: set-text-color(#fff);
  line-height: 1.5;
  font-size: 1rem;
  font-family: $montserrat;
  overflow-x: hidden;
}

// ===== SECTION ===== //
section {
  padding: 2rem 0;
}

// ===== TYPOGRAPHY ===== //
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

// ===== IMAGE ===== //
img {
  display: block;
  width: 100%;
  min-width: 100%;
}

// ===== UL ===== //
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// ===== LINK ===== //
a {
  text-decoration: none;
  color: set-text-color(#000);
}

// ===== SPACING ===== //
.spacing-top * + * {
  margin-top: 2rem;
}

.spacing-bottom * + * {
  margin-bottom: 2rem;
}
