@import './config';

// ===== TYPOGRAPHY STYLE ===== //
// ===== PRIMARY TITLE ===== //
.primary-title {
  font-size: clamp(3rem, calc(5vw + 1rem), 2rem);
  padding: 3rem 0;
  color: set-text-color(#000);
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1;
}

// ===== SECTION TITLE, DESCRIPTION ===== //
.section-heading {
  @include wrapper(90%, 0 auto);
  margin-bottom: 2rem;

  &__title {
    font-size: 1.6rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;

    // MEDIA QUERY
    @include laptop {
      font-size: 2.2rem;
    }
  }

  &__desc {
    text-align: center;
    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
  }
}

// ===== ASIDE, ARTICLE TITLE ===== //
.sidebar-title,
.article-title {
  @extend .section-heading__title;

  // MEDIA QUERY
  @include laptop {
    text-align: right;
  }
}

.sidebar-title {
  // MEDIA QUERY
  @include laptop {
    text-align: left;
  }
}
